﻿@page "/counter"
@page "/counter/{urlincrement:int}"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    [Parameter]
    public int incrementAmount { get; set; } = 1;

    [Parameter]
    public int urlIncrement { get; set; } = 0;

    private void IncrementCount()
    {
        currentCount += (incrementAmount + urlIncrement);
    }
}
