﻿@page "/"
@inject IJSRuntime JsRuntime

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<Counter incrementAmount=10 urlIncrement=5 />
<Counter incrementAmount=5 />

<div class="mt-2">
    <button title="Download User Guide" class="btn btn-primary" @onclick="@DownloadPdf"><div class="d-flex align-items-center justify-content-center"><i class="fas fa-download text-white"></i></div></button>
</div>

@code{
    async void DownloadPdf()
    {
        byte[] bytes = System.IO.File.ReadAllBytes("wwwroot/docs/LabourPlanningUserGuide.pdf");
        await FileHelpers.SaveAs(JsRuntime, "LabourPlanningUserGuide.pdf", bytes);
    }
}